@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "integral"; /* Match the font name in Tailwind config */
  src: url("/fonts/integral.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "satoshi"; /* Match the font name in Tailwind config */
  src: url("/fonts/satoshi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.btnblack {
  background-color: black;
  color: white;
}
.btnwhite {
  background-color: transparent;
  color: black;
  border: 1px solid #cbd5e1;
}
